In [1]:
teams = ['Alpha', 'Beta', 'Charlie', 'Delta'] #array of teams
#for loops
for home_teams in teams:
    for away_teams in teams:
        if home_teams != away_teams:
            print (home_teams, 'VS', away_teams)

Alpha VS Beta
Alpha VS Charlie
Alpha VS Delta
Beta VS Alpha
Beta VS Charlie
Beta VS Delta
Charlie VS Alpha
Charlie VS Beta
Charlie VS Delta
Delta VS Alpha
Delta VS Beta
Delta VS Charlie

In [2]:
for x in range(25):
    print(x)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24

In [3]:
for x in [25]:
    print(x)

25

In [4]:
def greet_friends(friends):
    for friend in friends:
        print("Hi " + friend)
greet_friends(['Augustine', 'Sammy', 'Stephen', 'Francis', 'Jeffrey'])

Hi Augustine
Hi Sammy
Hi Stephen
Hi Francis
Hi Jeffrey

##### Fill in the blanks to make the factorial function return the factorial of n. Then, print the first 10 factorials (from 0 to 9) with the corresponding number. Remember that the factorial of a number is defined as the product of an integer and all integers before it. For example, the factorial of five (5!) is equal to 1*2*3*4*5=120. Also recall that the factorial of zero (0!) is equal to 1.

In [5]:
def factorial(n):
    result = 1
    for x in range(1, n):
        result = result * x
    return result

for n in range(0, 10):
    print(n, factorial(n+1))

0 1
1 1
2 2
3 6
4 24
5 120
6 720
7 5040
8 40320
9 362880

##### Write a script that prints the first 10 cube numbers (x**3), starting with x=1 and ending with x=10.

In [6]:
for x in range(1,11):
    print(x**3)

1
8
27
64
125
216
343
512
729
1000

###### The retry function tries to execute an operation that might fail, it retries the operation for a number of attempts.  Currently the code will keep executing the function even if it succeeds. Fill in the blank so the code stops trying after the operation succeeded.

In [8]:
def retry(operation, attempts):
    for n in range(attempts):
        if operation():
            print("Attempt " + str(n) + " succeeded")
        if n == 1:
            break
        else:
            print("Attempt " + str(n) + " failed")

retry(create_user, 3)
retry(stop_service, 5)

# The parameters to retry are passed by coursera, so you might get error code when this code is run
# create_user and stop_services was passed by coursera, that's why you get error when the code is run

NameError: name 'create_user' is not defined

##### Write a script that prints the multiples of 7 between 0 and 100. Print one multiple per line and avoid printing any numbers that aren't multiples of 7. Remember that 0 is also a multiple of 7.

In [9]:
for i in range(0, 101, 7):
    print(i)

0
7
14
21
28
35
42
49
56
63
70
77
84
91
98